.feliz__cumpleaños { 
    font-family: "my love";
    content: "feliz cumpleaños";
    color: #c2185b;
    font-size: 3.5em;
    font-weight: 700;
    text-shadow: 2px 2px 5px;
    color: (255, 255, 255, 0.7);
    } 